body{
  background: #114357;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.spinners{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
   z-index: 6 !important;
};

.weatherApp{

}

.weatherApp .container{
  width: 61vw;
  position: relative;
  height: 61vh;
  background-color: #ecedf1;
  margin: auto;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.weatherApp .container .img{
  width: 61vw;
  height: 61vh;
}

.weatherApp .container .img img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.weatherApp .container .title{
  position: absolute;
  bottom: 0;
  left: 2%;
  font-size: 2vw;
  color: #fff;
}
.weatherApp .container .title h2{
  
}

.weatherApp .container .title p.Temperature{
  font-weight: 600;
}
.weatherApp .container .title p.description{
  font-size: 34px;
}

.weatherApp .container .Detail{
  background: #363636b3;
  width: 30%;
  position: absolute;
  top: 0%;
  right: 0;
  height: 61vh;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weatherApp .container .Detail p.date{
  font-size: 26px;
  font-weight: 500;
}


.weatherApp .container .Detail .detail-content{
  display: flex;
    justify-content: space-around;
}

.weatherApp .container .Detail .detail-content span{
  display: block;
}

.selectcity{
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}

.selectcity ul{
  display: flex;
  font-size: 14px;
  font-weight: 400;
}

.selectcity ul li{
  list-style: none;
  margin-right: 2vw;
  padding: 0px 29px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 6px #eee;
  cursor: pointer;
}
         
         